## Final Project Submission

Please fill out:
* Student name: Drake Fitzsimmons
* Student pace: Full-time
* Scheduled project review date/time: 3/23/21
* Instructor name: James Irving
* Blog post URL:

## Business Problem

## Obtain and Review Data

In [1]:
import os,glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_basics = pd.read_csv('./zippedData/imdb.title.basics.csv.gz')
df_ratings = pd.read_csv('./zippedData/imdb.title.ratings.csv.gz')
df_gross = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')

In [3]:
print('\n'+'---'*25)
print('df_basics preview')
display(df_basics)
print('\n'+'---'*25)
print('df_ratings preview')
display(df_ratings)
print('\n'+'---'*25)
print('df_gross preview')
display(df_gross)
print('\n')

---------------------------------------------------------------------------
df_basics preview

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

---------------------------------------------------------------------------
df_ratings preview

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

---------------------------------------------------------------------------
df_gross preview

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

## Data Cleaning

### Combining Basics & Ratings
First, the dataframes must be combined in order to compare across different variables. We know that there is a common column between df_basics and df_ratings. Let's start there.

In [4]:
df_basics_ratings = df_basics.merge(df_ratings,how='inner',on='tconst')
df_basics_ratings

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6
73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6,5
73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11

df_basics_ratings is a new dataframe that combined df_basics and df_ratings. The total rows in df_basics_ratings is equal to the total number of rows in df_ratings. Presumably every row in df_ratings had a corresponding row in df_basics and all rows unique to df_basics have been removed. Let's check.

In [5]:
print(df_basics_ratings.isna().sum())
df_dup_check = df_basics_ratings[df_basics_ratings.duplicated('tconst')]
df_dup_check

tconst                0
primary_title         0
original_title        0
start_year            0
runtime_minutes    7620
genres              804
averagerating         0
numvotes              0
dtype: int64

Empty DataFrame
Columns: [tconst, primary_title, original_title, start_year, runtime_minutes, genres, averagerating, numvotes]
Index: []

In [6]:
df_dup_check = df_basics[df_basics.duplicated('tconst')]
df_dup_check

Empty DataFrame
Columns: [tconst, primary_title, original_title, start_year, runtime_minutes, genres]
Index: []

In [7]:
df_dup_check = df_ratings[df_ratings.duplicated('tconst')]
df_dup_check

Empty DataFrame
Columns: [tconst, averagerating, numvotes]
Index: []

We can see that there are no null values in the averagerating and numvotes columns. Also there are no duplicate tconst values in df_basics_ratings, df_basics, or df_ratings. This confirms that we removed rows from df_basics that did not have a corresponding tconst in df_ratings.

### Combining Revenue
Next we must combine df_gross to our newly created df_basics_ratings. Let's find a common column to combine with.

In [8]:
print('\n'+'---'*25)
print('df_basics_ratings preview')
display(df_basics)
print('\n'+'---'*25)
print('df_gross preview')
display(df_gross)

---------------------------------------------------------------------------
df_basics_ratings preview

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

---------------------------------------------------------------------------
df_gross preview

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

Common columns include title and year. Unfortunately in df_basics_ratings, there are two versions of title: primary_title and original_title. Ultimately we will have to check to see if titles in df_gross match with primary_title or original_title. But first let's see if there are any duplicates in df_gross that we should deal with.

In [9]:
df_dup_check = None
df_dup_check = df_gross[df_gross.duplicated('title', keep = False)]
df_dup_check

          title  studio  domestic_gross foreign_gross  year
317   Bluebeard  Strand         33500.0          5200  2010
3045  Bluebeard   WGUSA         43100.0           NaN  2017

There are two movies with the title Bluebeard mad by different studios in different years. There is no need to worry though, because we can merge df_gross with df_basics_ratings using two criteria, title and year. Since the years are different there shouldn't be a problem.

Let's merge df_gross with df_basics_ratings.

In [10]:
df_combined = df_basics_ratings.merge(df_gross,how='inner',
                                      left_on = ['primary_title','start_year'],
                                      right_on = ['title','year'])
df_combined

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,title,studio,domestic_gross,foreign_gross,year
0,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",7.1,15378,Wazir,Relbig.,1100000.0,NaN,2016
1,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,On the Road,IFC,744000.0,8000000,2012
2,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,The Secret Life of Walter Mitty,Fox,58200000.0,129900000,2013
3,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116,A Walk Among the Tombstones,Uni.,26300000.0,26900000,2014
4,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338,Jurassic World,Uni.,652300000.0,"1,019.4",2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1842,tt8290698,The Spy Gone North,Gongjak,2018,137.0,Drama,7.2,1620,The Spy Gone North,CJ,501000.0,NaN,2018
1843,tt8404272,How Long Will I Love U,Chao shi kong tong ju,2018,101.0,Romance,6.5,607,How Long Will I Love U,WGUSA,747000.0,82100000,2018
1844,tt8427036,Helicopter Eela,Helicopter Eela,2018,135.0,Drama,5.4,673,Helicopter Eela,Eros,72000.0,NaN,2018
1845,tt9078374,Last Letter,"Ni hao, Zhihua",2018,114.0,"Drama,Romance",6.4,322,Last Letter,CL,181000.0,NaN,2018
1846,tt9151704,Burn the Stage: The Movie,Burn the Stage: The Movie,2018,84.0,"Documentary,Music",8.8,2067,Burn the Stage: The Movie,Trafalgar,4200000.0,16100000,2018

Great, now we have a combined dataframe. But we only combined based on primary_title. Let's ensure that there weren't any movies which the original title would match with a movie in df_gross.

In [11]:
df_unequal_titles = df_basics_ratings.loc[df_basics_ratings['primary_title'] != df_basics_ratings['original_title']]
df_unequal_titles

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
8,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,4.6,64
10,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,6.9,120
12,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",7.8,584
...,...,...,...,...,...,...,...,...
73804,tt9875852,The House Elf,Domovoy,2019,90.0,"Comedy,Family,Fantasy",5.8,50
73824,tt9894394,Upin & Ipin: The Lone Gibbon Kris,Upin & Ipin: Keris Siamang Tunggal,2019,100.0,Animation,8.1,301
73829,tt9899840,Auntie Frog,Khaleh Ghurbagheh,2018,81.0,"Adventure,Comedy,Family",6.2,6
73830,tt9899850,The Agitation,Ashoftegi,2019,NaN,"Drama,Thriller",4.9,14
73831,tt9899860,Watching This Movie Is a Crime,Didan in film jorm ast,2019,100.0,"Drama,Thriller",8.1,7

There are 12,173 movies where the primary_title does not equal the original_title. Let's see which of these movies match with df_gross.

In [12]:
df_unequal_titles = df_unequal_titles.merge(df_gross,how='inner',
                                      left_on = ['original_title','start_year'],
                                      right_on = ['title','year'])
df_unequal_titles

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,title,studio,domestic_gross,foreign_gross,year
0,tt1139592,Jeepers Creepers III,Jeepers Creepers 3,2017,100.0,"Action,Horror,Mystery",4.1,14586,Jeepers Creepers 3,Scre.,2300000.0,NaN,2017
1,tt1433813,Hubble,Hubble 3D,2010,44.0,Documentary,7.7,3945,Hubble 3D,WB,52400000.0,21500000,2010
2,tt1477076,Saw 3D: The Final Chapter,Saw 3D,2010,90.0,"Crime,Horror,Mystery",5.6,83532,Saw 3D,LGF,45700000.0,90400000,2010
3,tt1620719,Fearless,Dabangg,2010,126.0,"Action,Comedy,Crime",6.3,25201,Dabangg,Eros,1300000.0,1700000,2010
4,tt1629376,Seven Sins Forgiven,7 Khoon Maaf,2011,137.0,"Drama,Mystery,Thriller",6.1,4948,7 Khoon Maaf,UTV,270000.0,94700,2011
5,tt3148502,The Spectacle,Tamasha,2015,139.0,"Comedy,Drama,Romance",7.2,19901,Tamasha,UTV,2100000.0,NaN,2015
6,tt3173910,"She Smiles, She's Snared!",Hasee Toh Phasee,2014,141.0,"Comedy,Romance",6.8,12406,Hasee Toh Phasee,Relbig.,646000.0,NaN,2014
7,tt3381068,Gnome Alone,Legend,2015,94.0,Horror,3.5,303,Legend,Uni.,1900000.0,41100000,2015
8,tt3595298,Found a Treasure Called Love,Prem Ratan Dhan Payo,2015,164.0,"Action,Drama,Family",4.6,15753,Prem Ratan Dhan Payo,FIP,4400000.0,48200000,2015
9,tt3698118,Gangnam Blues,Gangnam 1970,2015,135.0,"Action,Drama",6.3,1291,Gangnam 1970,CJ,18000.0,NaN,2015
10,tt3833746,The Visit: An Alien Encounter,The Visit,2015,83.0,Documentary,6.0,661,The Visit,Uni.,65200000.0,33200000,2015
11,tt4410000,Luis and the Aliens,Luis & the Aliens,2018,86.0,"Adventure,Animation,Comedy",6.0,1355,Luis & the Aliens,VPD,170000.0,NaN,2018
12,tt4500922,The Death Cure,Maze Runner: The Death Cure,2018,143.0,"Action,Sci-Fi,Thriller",6.2,91286,Maze Runner: The Death Cure,Fox,58000000.0,230200000,2018
13,tt5162658,Gold,Oro,2017,103.0,"Adventure,Drama,History",5.6,1103,Oro,Sony,5500.0,NaN,2017
14,tt6217804,Boo 2! A Madea Halloween,Tyler Perry's Boo 2! A Madea Halloween,2017,101.0,"Comedy,Drama,Horror",3.8,3383,Tyler Perry's Boo 2! A Madea Halloween,LGF,47300000.0,1000000,2017
15,tt6588966,Hiccup,Hichki,2018,116.0,"Comedy,Drama",7.5,7418,Hichki,Yash,330000.0,3900000,2018
16,tt7690670,SuperFly,Superfly,2018,116.0,"Action,Crime,Thriller",5.0,4753,Superfly,Sony,20500000.0,236000,2018
17,tt8549902,Oolong Courtyard: KungFu School,Oolong Courtyard,2018,103.0,Comedy,4.6,61,Oolong Courtyard,CL,37700.0,NaN,2018

There are 18 movies that match based on original_title and not primary_title. We should include these in the combined dataframe.

In [13]:
dataframes = [df_combined, df_unequal_titles]
df_combined = pd.concat(dataframes)
df_combined

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,title,studio,domestic_gross,foreign_gross,year
0,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",7.1,15378,Wazir,Relbig.,1100000.0,NaN,2016
1,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,On the Road,IFC,744000.0,8000000,2012
2,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,The Secret Life of Walter Mitty,Fox,58200000.0,129900000,2013
3,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116,A Walk Among the Tombstones,Uni.,26300000.0,26900000,2014
4,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338,Jurassic World,Uni.,652300000.0,"1,019.4",2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,tt5162658,Gold,Oro,2017,103.0,"Adventure,Drama,History",5.6,1103,Oro,Sony,5500.0,NaN,2017
14,tt6217804,Boo 2! A Madea Halloween,Tyler Perry's Boo 2! A Madea Halloween,2017,101.0,"Comedy,Drama,Horror",3.8,3383,Tyler Perry's Boo 2! A Madea Halloween,LGF,47300000.0,1000000,2017
15,tt6588966,Hiccup,Hichki,2018,116.0,"Comedy,Drama",7.5,7418,Hichki,Yash,330000.0,3900000,2018
16,tt7690670,SuperFly,Superfly,2018,116.0,"Action,Crime,Thriller",5.0,4753,Superfly,Sony,20500000.0,236000,2018
17,tt8549902,Oolong Courtyard: KungFu School,Oolong Courtyard,2018,103.0,Comedy,4.6,61,Oolong Courtyard,CL,37700.0,NaN,2018

Now we have all the data we need combined into 1 dataframe. Let's clean up our column names and then dig into any data we need to clean up.

### Removing Unnecessary Columns
There are columns which are now duplicates and columns that don't really mean much to us. Let's remove tconst because it doesn't have relevant meaning and title and year because they are just duplicate columns now.

In [14]:
del df_combined['tconst']
del df_combined['title']
del df_combined['year']
df_combined

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross
0,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",7.1,15378,Relbig.,1100000.0,NaN
1,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,IFC,744000.0,8000000
2,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,Fox,58200000.0,129900000
3,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116,Uni.,26300000.0,26900000
4,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338,Uni.,652300000.0,"1,019.4"
...,...,...,...,...,...,...,...,...,...,...
13,Gold,Oro,2017,103.0,"Adventure,Drama,History",5.6,1103,Sony,5500.0,NaN
14,Boo 2! A Madea Halloween,Tyler Perry's Boo 2! A Madea Halloween,2017,101.0,"Comedy,Drama,Horror",3.8,3383,LGF,47300000.0,1000000
15,Hiccup,Hichki,2018,116.0,"Comedy,Drama",7.5,7418,Yash,330000.0,3900000
16,SuperFly,Superfly,2018,116.0,"Action,Crime,Thriller",5.0,4753,Sony,20500000.0,236000
17,Oolong Courtyard: KungFu School,Oolong Courtyard,2018,103.0,Comedy,4.6,61,CL,37700.0,NaN

Great, that's easier to work with. Now let's take a deeper look into what data we actually have.

### Removing Duplicates
Now that we have all our data in 1 place let's see if we have any duplicate rows.

In [26]:
df_dup_check = None
df_dup_check = df_combined[df_combined.duplicated('primary_title', keep = False)]
df_dup_check

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross
140,The Bounty Hunter,The Bounty Hunter,2010,110.0,"Action,Comedy,Romance",5.6,112444,Sony,67099999.0,69300000
141,The Bounty Hunter,The Bounty Hunter,2010,NaN,NaN,6.3,29,Sony,67099999.0,69300000
167,Big Eyes,Big Eyes,2014,106.0,"Biography,Crime,Drama",7.0,77447,Wein.,14500000.0,14800000
168,Big Eyes,Big Eyes,2014,NaN,Documentary,7.2,43,Wein.,14500000.0,14800000
169,Burlesque,Burlesque,2010,119.0,"Drama,Music,Musical",6.4,71021,SGem,39400000.0,50100000
170,Burlesque,Burlesque,2010,NaN,Drama,7.0,45,SGem,39400000.0,50100000
195,Jai Ho,Jai Ho,2014,135.0,"Action,Drama",5.3,15531,Eros,1300000.0,NaN
196,Jai Ho,Jai Ho,2014,60.0,"Biography,Documentary,Music",7.6,34,Eros,1300000.0,NaN
225,Leap Year,Leap Year,2010,100.0,"Comedy,Romance",6.5,86125,Uni.,25900000.0,6700000
226,Leap Year,Año bisiesto,2010,94.0,"Drama,Romance",5.9,2211,Uni.,25900000.0,6700000
272,The Tempest,The Tempest,2010,110.0,"Comedy,Drama,Fantasy",5.4,7073,Mira.,278000.0,68700
273,The Tempest,The Tempest,2010,131.0,Drama,7.8,94,Mira.,278000.0,68700
319,Cyrus,Cyrus,2010,87.0,"Crime,Horror,Mystery",4.7,944,FoxS,7500000.0,2500000
320,Cyrus,Cyrus,2010,91.0,"Comedy,Drama,Romance",6.3,32457,FoxS,7500000.0,2500000
335,I'm Still Here,I'm Still Here,2010,108.0,"Comedy,Drama,Music",6.2,18606,Magn.,409000.0,160000
336,I'm Still Here,I'm Still Here,2010,60.0,NaN,7.1,14,Magn.,409000.0,160000
497,A Better Life,A Better Life,2011,98.0,"Drama,Romance",7.2,14602,Sum.,1800000.0,NaN
498,A Better Life,Une vie meilleure,2011,110.0,Drama,6.6,1519,Sum.,1800000.0,NaN
547,Abduction,Abduction,2011,106.0,"Action,Mystery,Thriller",5.1,72552,LGF,28100000.0,54000000
548,Abduction,Abduction,2011,84.0,"Horror,Thriller",5.2,10,LGF,28100000.0,54000000
616,The Artist,The Artist,2011,100.0,"Comedy,Drama,Romance",7.9,217184,Wein.,44700000.0,88800000
617,The Artist,The Artist,2011,100.0,Thriller,6.8,6,Wein.,44700000.0,88800000
743,Gone,Gone,2012,94.0,"Action,Adventure,Drama",5.9,39482,LG/S,11700000.0,6400000
744,Gone,Gone,2012,50.0,Drama,6.6,7,LG/S,11700000.0,6400000
774,The Darkness,The Darkness,2016,92.0,"Horror,Thriller",4.4,12435,BH Tilt,10800000.0,NaN
775,The Darkness,Las tinieblas,2016,92.0,Thriller,5.7,196,BH Tilt,10800000.0,NaN
781,Spotlight,Spotlight,2015,129.0,"Crime,Drama",8.1,365110,ORF,45100000.0,53200000
782,Spotlight,Spotlight,2015,99.0,Drama,8.0,12,ORF,45100000.0,53200000
786,The Call,The Call,2013,94.0,"Crime,Drama,Horror",6.7,103780,TriS,51900000.0,16700000
787,The Call,Lokroep,2013,25.0,Documentary,7.9,12,TriS,51900000.0,16700000
932,The Walk,The Walk,2015,89.0,"Crime,Thriller",6.8,126,TriS,10100000.0,51000000
933,The Walk,The Walk,2015,123.0,"Adventure,Biography,Drama",7.3,109714,TriS,10100000.0,51000000
993,True Story,True Story,2015,99.0,"Crime,Drama,Mystery",6.3,52063,FoxS,4700000.0,NaN
994,True Story,True Story,2015,93.0,Drama,6.6,21,FoxS,4700000.0,NaN
1024,Homefront,Homefront,2013,100.0,"Action,Thriller",6.5,98549,ORF,20200000.0,22900000
1025,Homefront,The Things We Leave Behind,2013,111.0,Drama,7.7,17,ORF,20200000.0,22900000
1069,Coco,Coco,2017,105.0,"Adventure,Animation,Comedy",8.4,277194,BV,209700000.0,597400000
1070,Coco,Coco,2017,98.0,Horror,7.4,35,BV,209700000.0,597400000
1294,Extraction,Extraction,2015,NaN,"Action,Crime,Thriller",5.1,16,LGP,16800.0,NaN
1295,Extraction,Extraction,2015,92.0,"Action,Adventure,Crime",4.1,8564,LGP,16800.0,NaN
1306,The Forest,The Forest,2016,93.0,"Horror,Mystery,Thriller",4.8,36423,Focus,26600000.0,11000000
1307,The Forest,The Forest,2016,109.0,"Drama,Fantasy,Horror",6.5,222,Focus,26600000.0,11000000
1421,Stronger,Stronger,2017,119.0,"Biography,Drama",7.0,33464,RAtt.,4200000.0,4200000
1422,Stronger,Stronger,2017,125.0,Drama,6.8,22,RAtt.,4200000.0,4200000
1526,Denial,Denial,2016,109.0,"Biography,Drama",6.7,16593,BST,4099999.0,NaN
1527,Denial,Denial,2016,93.0,Documentary,7.4,25,BST,4099999.0,NaN
1611,Dancer,Dancer,2016,85.0,"Biography,Documentary",7.9,2231,IFC,71900.0,NaN
1612,Dancer,Dancer,2016,55.0,Action,8.6,11,IFC,71900.0,NaN
1615,Gold,Oro,2017,103.0,"Adventure,Drama,History",5.6,1103,Wein.,7200000.0,7700000
1787,The Negotiation,The Negotiation,2018,114.0,"Action,Crime,Thriller",6.5,926,CJ,111000.0,NaN
1788,The Negotiation,The Negotiation,2018,89.0,"Documentary,History,War",7.6,43,CJ,111000.0,NaN
13,Gold,Oro,2017,103.0,"Adventure,Drama,History",5.6,1103,Sony,5500.0,NaN

As you can see, there are quiet a few movies with the same title. But it's possible that some movies would have the same title. It's unlikely that the a studio would produce 2 movies with the same title in the same year. Let's make a new column to include title, year, and studio.

In [35]:
df_combined['title_year_studio'] = df_combined['primary_title'].astype(str)\
                                    + df_combined['start_year'].astype(str)\
                                    + df_combined['studio'].astype(str)
df_combined

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,title_year_studio
0,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",7.1,15378,Relbig.,1100000.0,NaN,Wazir2016Relbig.
1,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,IFC,744000.0,8000000,On the Road2012IFC
2,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,Fox,58200000.0,129900000,The Secret Life of Walter Mitty2013Fox
3,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116,Uni.,26300000.0,26900000,A Walk Among the Tombstones2014Uni.
4,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,539338,Uni.,652300000.0,"1,019.4",Jurassic World2015Uni.
...,...,...,...,...,...,...,...,...,...,...,...
13,Gold,Oro,2017,103.0,"Adventure,Drama,History",5.6,1103,Sony,5500.0,NaN,Gold2017Sony
14,Boo 2! A Madea Halloween,Tyler Perry's Boo 2! A Madea Halloween,2017,101.0,"Comedy,Drama,Horror",3.8,3383,LGF,47300000.0,1000000,Boo 2! A Madea Halloween2017LGF
15,Hiccup,Hichki,2018,116.0,"Comedy,Drama",7.5,7418,Yash,330000.0,3900000,Hiccup2018Yash
16,SuperFly,Superfly,2018,116.0,"Action,Crime,Thriller",5.0,4753,Sony,20500000.0,236000,SuperFly2018Sony
17,Oolong Courtyard: KungFu School,Oolong Courtyard,2018,103.0,Comedy,4.6,61,CL,37700.0,NaN,Oolong Courtyard: KungFu School2018CL

In [39]:
df_dup_check = None
df_dup_check = df_combined[df_combined.duplicated('title_year_studio', keep = False)]
df_dup_check

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,title_year_studio
140,The Bounty Hunter,The Bounty Hunter,2010,110.0,"Action,Comedy,Romance",5.6,112444,Sony,67099999.0,69300000,The Bounty Hunter2010Sony
141,The Bounty Hunter,The Bounty Hunter,2010,NaN,NaN,6.3,29,Sony,67099999.0,69300000,The Bounty Hunter2010Sony
167,Big Eyes,Big Eyes,2014,106.0,"Biography,Crime,Drama",7.0,77447,Wein.,14500000.0,14800000,Big Eyes2014Wein.
168,Big Eyes,Big Eyes,2014,NaN,Documentary,7.2,43,Wein.,14500000.0,14800000,Big Eyes2014Wein.
169,Burlesque,Burlesque,2010,119.0,"Drama,Music,Musical",6.4,71021,SGem,39400000.0,50100000,Burlesque2010SGem
170,Burlesque,Burlesque,2010,NaN,Drama,7.0,45,SGem,39400000.0,50100000,Burlesque2010SGem
195,Jai Ho,Jai Ho,2014,135.0,"Action,Drama",5.3,15531,Eros,1300000.0,NaN,Jai Ho2014Eros
196,Jai Ho,Jai Ho,2014,60.0,"Biography,Documentary,Music",7.6,34,Eros,1300000.0,NaN,Jai Ho2014Eros
225,Leap Year,Leap Year,2010,100.0,"Comedy,Romance",6.5,86125,Uni.,25900000.0,6700000,Leap Year2010Uni.
226,Leap Year,Año bisiesto,2010,94.0,"Drama,Romance",5.9,2211,Uni.,25900000.0,6700000,Leap Year2010Uni.
272,The Tempest,The Tempest,2010,110.0,"Comedy,Drama,Fantasy",5.4,7073,Mira.,278000.0,68700,The Tempest2010Mira.
273,The Tempest,The Tempest,2010,131.0,Drama,7.8,94,Mira.,278000.0,68700,The Tempest2010Mira.
319,Cyrus,Cyrus,2010,87.0,"Crime,Horror,Mystery",4.7,944,FoxS,7500000.0,2500000,Cyrus2010FoxS
320,Cyrus,Cyrus,2010,91.0,"Comedy,Drama,Romance",6.3,32457,FoxS,7500000.0,2500000,Cyrus2010FoxS
335,I'm Still Here,I'm Still Here,2010,108.0,"Comedy,Drama,Music",6.2,18606,Magn.,409000.0,160000,I'm Still Here2010Magn.
336,I'm Still Here,I'm Still Here,2010,60.0,NaN,7.1,14,Magn.,409000.0,160000,I'm Still Here2010Magn.
497,A Better Life,A Better Life,2011,98.0,"Drama,Romance",7.2,14602,Sum.,1800000.0,NaN,A Better Life2011Sum.
498,A Better Life,Une vie meilleure,2011,110.0,Drama,6.6,1519,Sum.,1800000.0,NaN,A Better Life2011Sum.
547,Abduction,Abduction,2011,106.0,"Action,Mystery,Thriller",5.1,72552,LGF,28100000.0,54000000,Abduction2011LGF
548,Abduction,Abduction,2011,84.0,"Horror,Thriller",5.2,10,LGF,28100000.0,54000000,Abduction2011LGF
616,The Artist,The Artist,2011,100.0,"Comedy,Drama,Romance",7.9,217184,Wein.,44700000.0,88800000,The Artist2011Wein.
617,The Artist,The Artist,2011,100.0,Thriller,6.8,6,Wein.,44700000.0,88800000,The Artist2011Wein.
743,Gone,Gone,2012,94.0,"Action,Adventure,Drama",5.9,39482,LG/S,11700000.0,6400000,Gone2012LG/S
744,Gone,Gone,2012,50.0,Drama,6.6,7,LG/S,11700000.0,6400000,Gone2012LG/S
774,The Darkness,The Darkness,2016,92.0,"Horror,Thriller",4.4,12435,BH Tilt,10800000.0,NaN,The Darkness2016BH Tilt
775,The Darkness,Las tinieblas,2016,92.0,Thriller,5.7,196,BH Tilt,10800000.0,NaN,The Darkness2016BH Tilt
781,Spotlight,Spotlight,2015,129.0,"Crime,Drama",8.1,365110,ORF,45100000.0,53200000,Spotlight2015ORF
782,Spotlight,Spotlight,2015,99.0,Drama,8.0,12,ORF,45100000.0,53200000,Spotlight2015ORF
786,The Call,The Call,2013,94.0,"Crime,Drama,Horror",6.7,103780,TriS,51900000.0,16700000,The Call2013TriS
787,The Call,Lokroep,2013,25.0,Documentary,7.9,12,TriS,51900000.0,16700000,The Call2013TriS
932,The Walk,The Walk,2015,89.0,"Crime,Thriller",6.8,126,TriS,10100000.0,51000000,The Walk2015TriS
933,The Walk,The Walk,2015,123.0,"Adventure,Biography,Drama",7.3,109714,TriS,10100000.0,51000000,The Walk2015TriS
993,True Story,True Story,2015,99.0,"Crime,Drama,Mystery",6.3,52063,FoxS,4700000.0,NaN,True Story2015FoxS
994,True Story,True Story,2015,93.0,Drama,6.6,21,FoxS,4700000.0,NaN,True Story2015FoxS
1024,Homefront,Homefront,2013,100.0,"Action,Thriller",6.5,98549,ORF,20200000.0,22900000,Homefront2013ORF
1025,Homefront,The Things We Leave Behind,2013,111.0,Drama,7.7,17,ORF,20200000.0,22900000,Homefront2013ORF
1069,Coco,Coco,2017,105.0,"Adventure,Animation,Comedy",8.4,277194,BV,209700000.0,597400000,Coco2017BV
1070,Coco,Coco,2017,98.0,Horror,7.4,35,BV,209700000.0,597400000,Coco2017BV
1294,Extraction,Extraction,2015,NaN,"Action,Crime,Thriller",5.1,16,LGP,16800.0,NaN,Extraction2015LGP
1295,Extraction,Extraction,2015,92.0,"Action,Adventure,Crime",4.1,8564,LGP,16800.0,NaN,Extraction2015LGP
1306,The Forest,The Forest,2016,93.0,"Horror,Mystery,Thriller",4.8,36423,Focus,26600000.0,11000000,The Forest2016Focus
1307,The Forest,The Forest,2016,109.0,"Drama,Fantasy,Horror",6.5,222,Focus,26600000.0,11000000,The Forest2016Focus
1421,Stronger,Stronger,2017,119.0,"Biography,Drama",7.0,33464,RAtt.,4200000.0,4200000,Stronger2017RAtt.
1422,Stronger,Stronger,2017,125.0,Drama,6.8,22,RAtt.,4200000.0,4200000,Stronger2017RAtt.
1526,Denial,Denial,2016,109.0,"Biography,Drama",6.7,16593,BST,4099999.0,NaN,Denial2016BST
1527,Denial,Denial,2016,93.0,Documentary,7.4,25,BST,4099999.0,NaN,Denial2016BST
1611,Dancer,Dancer,2016,85.0,"Biography,Documentary",7.9,2231,IFC,71900.0,NaN,Dancer2016IFC
1612,Dancer,Dancer,2016,55.0,Action,8.6,11,IFC,71900.0,NaN,Dancer2016IFC
1787,The Negotiation,The Negotiation,2018,114.0,"Action,Crime,Thriller",6.5,926,CJ,111000.0,NaN,The Negotiation2018CJ
1788,The Negotiation,The Negotiation,2018,89.0,"Documentary,History,War",7.6,43,CJ,111000.0,NaN,The Negotiation2018CJ

In [38]:
df_combined.sort_values(by='numvotes')
df_combined.sort_values(by='primary_title')
df_dup_check = None
df_dup_check = df_combined[df_combined.duplicated('primary_title', keep = False)]
df_dup_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 140 to 13
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   primary_title      52 non-null     object
 1   original_title     52 non-null     object
 2   start_year         52 non-null     int64
 3   runtime_minutes    48 non-null     float64
 4   genres             50 non-null     object
 5   averagerating      52 non-null     float64
 6   numvotes           52 non-null     int64
 7   studio             52 non-null     object
 8   domestic_gross     52 non-null     float64
 9   foreign_gross      35 non-null     object
 10  title_year_studio  52 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 4.9+ KB

In [23]:
df_combined.info()
df_combined.isna().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1865 entries, 0 to 17
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   primary_title    1865 non-null   object
 1   original_title   1865 non-null   object
 2   start_year       1865 non-null   int64
 3   runtime_minutes  1861 non-null   float64
 4   genres           1863 non-null   object
 5   averagerating    1865 non-null   float64
 6   numvotes         1865 non-null   int64
 7   studio           1863 non-null   object
 8   domestic_gross   1855 non-null   float64
 9   foreign_gross    1280 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 160.3+ KB

primary_title        0
original_title       0
start_year           0
runtime_minutes      4
genres               2
averagerating        0
numvotes             0
studio               2
domestic_gross      10
foreign_gross      585
dtype: int64

## Extra Stuff

In [19]:
df_basics.info()
df_basics.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [21]:
df_combined.describe()

,start_year,runtime_minutes,averagerating,numvotes,domestic_gross
count,1865.000000,1861.000000,1865.000000,1.865000e+03,1.855000e+03
mean,2013.982842,110.785062,6.415979,9.094046e+04,4.253601e+07
std,2.519607,19.945410,1.008649,1.496859e+05,7.694477e+07
min,2010.000000,25.000000,1.600000,6.000000e+00,3.000000e+02
25%,2012.000000,96.000000,5.800000,7.384000e+03,5.775000e+05
50%,2014.000000,107.000000,6.500000,3.430600e+04,1.070000e+07
75%,2016.000000,122.000000,7.100000,1.049990e+05,5.190000e+07
max,2018.000000,189.000000,8.800000,1.841066e+06,7.001000e+08

## xxx

In [ ]:
df_dup_check = None
df_dup_check = df_basics[df_basics.duplicated('primary_title', keep = False)]
df_dup_check

In [ ]:
df_dup_basics = df_basics_ratings[df_basics_ratings.duplicated('original_title', keep = False)]
df_dup_basics

In [ ]:
df_gross.describe()

In [ ]:
df_combined = df_basics_ratings.merge(df_gross,how='inner',
                                      left_on = ['primary_title','start_year'],
                                      right_on = ['title','year'])
df_combined

In [ ]:
df_unequal_titles = df_combined.loc[df_combined['primary_title'] != df_combined['original_title']]
df_unequal_titles

In [ ]:
df_unequal_titles[df_unequal_titles['primary_title'] == 'Gold']

In [21]:
df_basics_ratings = df_basics.merge(df_ratings,how='inner',on='tconst')
df_basics_ratings

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119
...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2,6
73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7,136
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6,5
73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5,11

## Visualizations